.logo {
  --transition-timing: 0.2s;
  --transition-type: ease-in-out;
  display: flex;
  align-items: center;
  svg {
    max-width: 100%;
    width: 140px;
    transition:
      stroke var(--transition-timing) var(--transition-type),
      fill var(--transition-timing) var(--transition-type);
  }
  a {
    border-radius: var(--radius-md);
    color: var(--color-secondary-lavender-gray);
    transition: color var(--transition-timing) var(--transition-type);
  }
  a svg {
    stroke: transparent;
    stroke-width: 20;
  }
  a:hover {
    color: var(--color-primary-dark-purple);
  }
  a:hover svg {
    stroke: var(--color-cta-celestial-gold);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: var(--space-sm);
  padding: var(--space-sm) var(--space-md);
  @media (min-width: 48rem) {
    padding: var(--space-md);
  }
}

.links {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap: var(--space-sm);
  font-size: var(--font-size-lg);
  margin: 0;
  padding: var(--space-lg) var(--space-sm);
  width: 100%;
  position: absolute;
  inset: calc(var(--size-height-header) + 1px) 0 0 0;
  z-index: var(--layer-top);
  min-height: calc(100dvh - var(--size-height-header) + 1px);
  background-color: var(--color-primary-dark-purple-98);
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  li {
    display: flex;
    width: 100%;
  }
  a {
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
    padding: var(--space-md) calc(var(--space-sm) + var(--space-xs));
    border-radius: var(--radius-md);
    background-color: unset;
    display: block;
    width: 100%;
    text-shadow: 1px 1px 2px var(--color-primary-dark-purple);

    &:hover,
    &:focus {
      color: var(--color-cta-celestial-gold);
      background-color: var(--color-secondary-lavender-gray-10);
    }
    @media (min-width: 48rem) {
      display: unset;
      width: unset;
      padding: var(--space-xs) calc(var(--space-sm) + var(--space-xs));
    }
  }
  @media (min-width: 48rem) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: unset;
    min-height: unset;
    background-color: unset;
    position: static;
    padding: 0;
    li {
      display: unset;
      width: unset;
    }
  }
}

.visible {
  display: flex;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-sm);
}

.menu-toggle {
  @media (min-width: 48rem) {
    display: none;
  }
}
